
.pageHeader{
  text-align: center;
}

.container{
  display: flex;
  margin: auto;
  max-width: 900px;
}

.containerbuttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.gobutton{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



